{% extends 'base.html.twig' %}

{% block body %}
  <div class="row seek">
    <div class="col s12 m8 l6 ml-0">
      <div class="card red lighten-4">
        <div class="card-content white-text">
          <h2 class="searchTitle center-align">Que recherchez-vous?</h2>
          <div class="formSearch">
            {{form(form)}}
          </div>
          {% if is_granted('ROLE_USER') %}
            <h1>Connecté en tant que: {{ app.user.username }}</h1>
          {% else  %}
            <h1>Pas de connecté</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  
  <div class="row">
     {% for produit in produits %}
      <div class="card col l3 m4 s6 padding">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{produit.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{produit.nom}}<i class="material-icons right">more_vert</i></span>
          <p>{{produit.prix}} €<p>
          <p>le {{produit.date|date('d-m-Y H:i')}}<p>
          <p>Par : {{produit.user.username}} <p>

          <p><a href="{{ path('produit',{'id':produit.id} )}}">Plus d'informations</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Descripton<i class="material-icons right">close</i></span>
          <p>{{produit.description}} </p>
          <p>Catégorie: {{ produit.categories.nom }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

    
{% endblock %}

{% block stylesheets %}
<style>
    .seek{
        display:flex;
        justify-content:center;
    }
    .searchTitle{
      font-size: 1.6em;
    }
    .formSearch{
      padding-left: 10%;
      padding-right: 10%;
    }
    .ml-0{margin-left:0!important}
    .row{width:100%}
    .padding{
      padding:10px!important;
    }
    .card-image{
      display:flex!important;
      justify-content:center;
    }
    img{
      width:auto!important;
      max-height:180px;
    }
</style>
{% endblock %}
{% block javascripts %}  
    <script> 
      $(document).ready(function(){
    $('select').formSelect();
  });
    </script>
{% endblock %}




