{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="carousel" id="demo-carousel">
        <a class="carousel-item" ><img src="{{ produit.image }}"></a>
    </div>
    <div class="row">
        <div class="col s7 bb">
            <h2 class="deep-orange-text">{{ produit.nom }}</h2>
            <p>Prix: {{ produit.prix }} €</p>
            <p>le {{produit.date|date('d-m-Y H:i')}}</p>
            <p><i class="material-icons">location_on</i>  {{produit.user.ville}}</p>
        </div>
        <div class="col s5">
                <div>
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <i class="profilSolo material-icons">account_circle</i><span class="card-title center-align">{{ produit.user.username }}</span>
                            <p class="center-align">Infos sur le vendeur:</p>
                            <p class="center-align">Email: {{ produit.user.email }}</p>
                            <p class="center-align">Ville: {{ produit.user.ville }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bb">
            <h3>Description</h3>
            <p>{{ produit.description }}</p>
        </div>
        <div>
            <h3>Catégorie</h3>
            <p>{{ produit.categories.nom }}</p>
        </div>

    </div>

</div>
{% endblock %}

{% block stylesheets %}
<style>

    .profilSolo{
        font-size: 50px;
    }
    .card .card-title {
        font-size: 40px;
        font-weight: 800;
        border-bottom: 1px black solid;
    }
    .bb{
        border-bottom: solid orange 1px;
    }
    h3 {
        font-size: 1.5em;
    }
</style>
{% endblock %}
{% block javascripts %}  
    <script> 
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
{% endblock %}

